div {
  margin:30px;
  width: 260px;
  max-height: 400px;
  min-height: 400px;
  background-color: black;
  border: 1px solid black;
  display: inline-block;
  border-radius: 10px;
}


img {
  width: 200px;
  margin: 20px auto 10px 30px;
}

p {
  color: white;
  margin-left: 30px;
  margin-bottom: 5px;
  font-size: 1em;
}
